// Colors
$primary: #8750f7

// Typography (see base/fonts for font definitions)
$font-body: 'Sora', sans-serif
$font-title: 'Great Sejagad', cursive

// Breakpoints
$tablet: 768px
$desktop: 1024px
$widescreen: 1216px
$fullhd: 1408px
