// Flex container helpers
// Apply these classes to the parent element

.flex
  display: flex

.inline-flex
  display: inline-flex

.flex-row
  flex-direction: row

.flex-col
  flex-direction: column

.justify-start
  justify-content: flex-start

.justify-center
  justify-content: center

.justify-between
  justify-content: space-between

.items-start
  align-items: flex-start

.items-center
  align-items: center

.items-end
  align-items: flex-end

.gap-1
  gap: .25rem

.gap-2
  gap: .5rem

.gap-3
  gap: 1rem


// Flex item helpers
// Apply these classes to children elements

.flex-1
  flex: 1

.self-start
  align-self: flex-start

.self-center
  align-self: center

.self-end
  align-self: flex-end
