@use '../utilities/mixins' as *

// Global

.hidden
  display: none !important

// Responsive helpers

+mobile
  .hidden-mobile
    display: none !important

+tablet
  .hidden-tablet
    display: none !important

+desktop
  .hidden-desktop
    display: none !important

+widescreen
  .hidden-widescreen
    display: none !important

+fullhd
  .hidden-fullhd
    display: none !important