@use '../utilities' as *

// Visibility helpers
// -----------------------------------------------------------------------------
// Utilities to hide elements globally or per breakpoint.
//
// Example usage:
// <p class="hidden">Hidden everywhere</p>
// <p class="hidden-mobile">Hidden on mobile only</p>
// -----------------------------------------------------------------------------

// Global

.hidden
  display: none !important


// Responsive helpers

+mobile
  .hidden-mobile
    display: none !important

+tablet
  .hidden-tablet
    display: none !important

+desktop
  .hidden-desktop
    display: none !important

+widescreen
  .hidden-widescreen
    display: none !important

+fullhd
  .hidden-fullhd
    display: none !important