@use '../utilities/mixins' as *

.is-hidden
  display: none !important

+mobile
  .is-hidden-mobile
    display: none !important

+tablet
  .is-hidden-tablet
    display: none !important

+desktop
  .is-hidden-desktop
    display: none !important

+widescreen
  .is-hidden-widescreen
    display: none !important

+fullhd
  .is-hidden-fullhd
    display: none !important
